<link rel="stylesheet" href="./styles/css/footer.min.css"/>

<footer class="footer" id="footer">
    <div class="footer_wrap">
        <p id=""></p>
        <p id="copyright" class="footer_content">copyright &copy; 2024. JSHSUS</p>
    </div>
</footer>